attrs==20.3.0
autopep8==1.5.5
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
idna==2.10
iniconfig==1.1.1
ipython==7.21.0
ipython-genutils==0.2.0
isort==5.7.0
jedi==0.18.0
lxml==4.6.2
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==1.1.1
packaging==20.9
parso==0.8.1
pdoc3==0.9.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.16
ptyprocess==0.7.0
py==1.10.0
Pycco==0.6.0
pycodestyle==2.6.0
Pygments==2.8.0
pyparsing==2.4.7
pystache==0.5.4
pytest==6.2.2
requests==2.25.1
smartypants==2.0.1
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.3
wcwidth==0.2.5
